.home{
	.home-slider {
                background-color: $secondary;
		width: 100%;
		overflow: hidden;
		position: relative;
		margin: 0 auto 0px !important;
		padding: 0;
		background-size:cover;
                background-repeat:no-repeat;
                background-position: center;
		@include bp-small {
		}
		@include bp-medium {
			width: 100%;
		}
		@include bp-large {
			min-height: 480px;
                    h1.secondary-text{
                        margin-bottom: 10px;
                        padding: 0;
                        font-size: 2.555em;
                        font-weight: 700;
                        text-align: left;
                    }
                    h2 {
                        margin: 0 0 36px;
                        font-size: 2.0em;
                        text-align: left;
                    }
		}
	}
    .secondary-row{
        padding-top:60px;
        padding-bottom:60px;
        
    }

  
    
}
