.page-template-landing-page{
	.home-slider {
                background-color: $secondary;
		width: 100%;
		overflow: hidden;
		position: relative;
		margin: 0 auto 0px !important;
		padding: 0;
		background-size:cover;
                background-repeat:no-repeat;
                .hero-white{
                    background:none;
                    color:$white;
                    margin-top:20px;
                    .secondary-text{
                       color:$white !important; 
                    }
                }
		@include bp-small {
		}
		@include bp-medium {
			width: 100%;
		}
		@include bp-large {
			min-height: 580px;
                    h1.secondary-text{
                        margin-bottom: 10px;
                        padding: 0;
                        font-size: 2.555em;
                        font-weight: 700;
                        text-align: left;
                    }
                    h2 {
                        margin: 0 0 36px;
                        font-size: 2.0em;
                        text-align: left;
                    }
		}
                .hero-form{
                    background-color: rgba(255,255,255,.6);
                    display:block;
                    form{
                        display:block;
                        margin:-10px auto 0;
                        width:76%;
                        .col-6{
                            width:100% !important;
                            text-align: left;
                            color:$secondary;
                            text-transform: uppercase;
                        }
                        input[type=text],input[type=email], textarea{
                            padding:6px 10px;
                            font-size:1.3em;
                            width:100%;
                            border: 2px solid $secondary;
                            border-radius: $base-border-radius;
                        }
                        textarea{
                            height:176px; 
                        }
                        input[type=submit]{
                            @extend button;
                        }
                    }
                    h2{
                        padding:16px 0 0px;
                        text-align:center;
                        color:$secondary;
                        font-size:1.4em;
                        display: block;
                        margin:0;
                        font-weight: bold;
                    }
                }
                
	}
    .secondary-row{
        padding-top:60px;
        padding-bottom:60px;
        
    }
    .no-paddy{
        padding-bottom:0 !important;
        margin-bottom:0 !important;
    }
    .stats{
        margin-top:0px;
        text-align:center;
        h2{
           font-size:5em; 
           color:$primary;
           margin:0 auto;
           text-align: center;
           font-weight:bold;
        }
        p{
            margin-top:0;
        }
    }
    .chevrons{
        margin:0 !important;
    }
    .step-row{
        min-height:300px;
        display:block;
        clear:both;
        margin:0px auto !important;
        @include bp-small{
            max-width:90%;
        }
        @include bp-xxlarge{
            max-width:1200px;
        }
        
    }
    .steps{
        width: 100%;
        margin: 10px auto;
        text-align:center;
        line-height: 1.2em;
        .step{
            display:inline-block;
            position:relative;
            margin:0 26px;
            text-align:left;
            float:left;
            .step-number{
                width:50px;
                height:50px;
                background: $white;
                border-radius:50%;
                text-align: center;
                padding:15px 0;
                font-weight: bold;
                font-style:italic;
                font-size:1.6em;
            }
            .step-text{
                @include bp-small{
                	padding:20px;
                        font-size: .77778em;
                }
                @include bp-large{
                	padding: 48px 0 0 8px;
                        font-size: .7em;
                }
                @include bp-xlarge{
                	padding: 62px 0 0 8px;
                        font-size: .77778em;
                }
                h4{
                	font-size: 1.1em;
                	font-weight: bold;
                }
                color:white;
                
        	line-height: 1.3em;
            }
            @include bp-small{
                width:100%;
                &:after, &:before{
                display:none;
                }
                margin:0;
                .step-number{
                    position:static;
                    margin:10px 0 10px 10px;
                    display:inline-block;
                }
            }
            @include bp-large{
                min-height:292px;
                width:13%;
                margin:0 26px;
                .step-number{
                    position:absolute;
                    top: 3px;
                    left: -42px;
                }
                &:after, &:before{
                	display:block;
                }
            }
            @include bp-xlarge{
                min-height:292px;
                width:14.2%;
            }
            @include bp-xxlarge{
                width:15%;
            }
        }
        .step1{
            background-color:#242c33;
            .step-number{
                color: #242c33;
            }
            &:before{
                content:'';
                width:62px;
                height:100%;
                position:absolute;
                left:-62px;
                top:0;
                background-image:url(/wp-content/themes/decoder/library/images/s1before.png);
                background-position: right top;
                background-repeat:no-repeat;
                background-size:contain;
            }
            &:after{
                content:'';
                width:62px;
                height:100%;
                position:absolute;
                right:-62px;
                top:0;
                background-image:url(/wp-content/themes/decoder/library/images/s1after.png);
                background-position: left top;
                background-repeat:no-repeat;
                background-size:contain;
            }
            @include bp-large{
                margin-left:5%;
            }
            @include bp-xlarge{
                margin-left:5%;
            }
            @include bp-xxlarge{
                margin-left:6%;
            }

        }
        .step2{
            background-color:#333e48;
            .step-number{
                color: #333e48;
            }
            &:before{
                content:'';
                width:62px;
                height:100%;
                position:absolute;
                left:-62px;
                top:0;
                background-image:url(/wp-content/themes/decoder/library/images/s2before.png);
                background-position: right top;
                background-repeat:no-repeat;
                background-size:contain;
            }
            &:after{
                content:'';
                width:62px;
                height:100%;
                position:absolute;
                right:-62px;
                top:0;
                background-image:url(/wp-content/themes/decoder/library/images/s2after.png);
                background-position: left top;
                background-repeat:no-repeat;
                background-size:contain;
            }
        }
        .step3{
            background-color:#3c4955;
            .step-number{
                color: #3c4955;
            }
            &:before{
                content:'';
                width:62px;
                height:100%;
                position:absolute;
                left:-62px;
                top:0;
                background-image:url(/wp-content/themes/decoder/library/images/s3before.png);
                background-position: right top;
                background-repeat:no-repeat;
                background-size:contain;
            }
            &:after{
                content:'';
                width:62px;
                height:100%;
                position:absolute;
                right:-62px;
                top:0;
                background-image:url(/wp-content/themes/decoder/library/images/s3after.png);
                background-position: left top;
                background-repeat:no-repeat;
                background-size:contain;
            }
        }
        .step4{
            background-color:#698094;
            .step-number{
                color: #698094;
            }
            &:before{
                content:'';
                width:62px;
                height:100%;
                position:absolute;
                left:-62px;
                top:0;
                background-image:url(/wp-content/themes/decoder/library/images/s4before.png);
                background-position: right top;
                background-repeat:no-repeat;
                background-size:contain;
            }
            &:after{
                content:'';
                width:62px;
                height:100%;
                position:absolute;
                right:-62px;
                top:0;
                background-image:url(/wp-content/themes/decoder/library/images/s4after.png);
                background-position: left top;
                background-repeat:no-repeat;
                background-size:contain;
            }
        }
        .step5{
            background-color:#96b7d4;
            .step-number{
                color: #96b7d4;
            }
            &:before{
                content:'';
                width:62px;
                height:100%;
                position:absolute;
                left:-62px;
                top:0;
                background-image:url(/wp-content/themes/decoder/library/images/s5before.png);
                background-position: right top;
                background-repeat:no-repeat;
                background-size:contain;
            }
            &:after{
                content:'';
                width:62px;
                height:100%;
                position:absolute;
                right:-62px;
                top:0;
                background-image:url(/wp-content/themes/decoder/library/images/s5after.png);
                background-position: left top;
                background-repeat:no-repeat;
                background-size:contain;
            }
            @include bp-large{
                margin-right:0px !important;
            }
        }
    }
    .best-results{
        padding:50px 0;
        color:black;
        text-align:center;
        p{
            max-width:760px;
            margin:auto;
            font-size:1.2em;
        }
    }
    .pane{
        position:relative;
        min-height:400px;
        padding:60px 0;
        overflow:hidden;
        .pane-image{
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            @include bp-large{
                position:absolute;
                right:0;
                top:0;
                width:35%;
                height:100%;
            }
        }
    }
    
}
