.why-matthews{
	
    .resource-tile-grid{
        .app-tile{
            margin-bottom: 20px;
            background-color: $primary-gray;
            .hover-content{
                opacity:1;
            }
        }
    }
}